.status {
    border: 1px solid;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 99%;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-right: 6px;
    vertical-align: bottom;
}

.icon {
    margin-left: 0;
    margin-right: 3px;
}

.MERGED {
    color: #14892c;
    border-color: #60b070;
}

.OPEN {
    border-color: #a5b3c2;
    color: #4a6785;
}

.DECLINED {
    border-color: #e8a29b;
    color: #d04437;
}