.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 1px;
  color: white;
}

.App-header h2 {
  text-align: left;
  margin: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  vertical-align: top;
  border: 1px solid black;
}

.RepositoryName, .IssueSummary {
  margin: 5px;
  font-weight: 700;
}

.Issue {
  text-align: left;
}

.icon {
  margin-left: 5px;
  margin-right: 3px;
}

.PrStatus {
  border: 1px solid;
  background-color: #fff;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 99%;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 3px;
  vertical-align: bottom;
}

.pr-MERGED {
  color: #14892c;
  border-color: #60b070;
}

.pr-OPEN {
  border-color: #a5b3c2;
  color: #4a6785;
}

.pr-DECLINED {
  border-color: #e8a29b;
  color: #d04437;
}

.IssueState {
  margin: 5px;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 99%;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.IssueTitle {
  margin-left: 5px;
  color: #707070;
}

.is-CLOSED {
  background-color: #14892c;
  border-color: #14892c;
  color: #fff;
}

.is-IN_PROGRESS, .is-IN_TEST {
  background-color: #ffd351;
  border-color: #ffd351;
  color: #594300;
}

.is-OPEN {
  background-color: #4a6785;
  border-color: #4a6785;
  color: #fff;
}

.BranchRow {
  white-space: nowrap;
  margin-bottom: 5px;
}

.RepositoryName {
  white-space: nowrap;
  margin-bottom: 10px;
}

.BuildIcon {
  vertical-align: bottom;
}